.benefits {
    &__subtitle {
        max-width: 700px;
    }

    &__card-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        @media (width < 900px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        padding: var(--padding-card);

        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
    }

    svg {
        width: 5rem;
        height: 5rem;

        color: var(--color-purple);
    }

    i {
        font-size: 4rem;

        color: var(--color-purple);
    }
}
