:root {
    --color-white: hsl(0, 0%, 100%);
    --color-white-2: hsl(0, 0%, 85%);
    --color-light-white: hsl(0, 0%, 80%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-2: hsl(0, 0%, 20%);
    --color-light-black: hsl(0, 0%, 30%);
    --color-orange: hsl(39, 100%, 50%);
    --color-purple: hsl(248, 93%, 62%);

    --shadow: 0rem 0rem 0.9375rem -0.1875rem hsla(0, 0%, 0%, 0.1);

    --border: 0.15rem solid var(--color-black);
    --border-radius: 0.125rem;

    --padding-card: 2rem;
    --padding-button: 0.5rem 1rem;
    --padding-icon: 0.5rem;

    --transition: 0.2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    *::before,
    *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem 0 0 0;

    font-size: 16px;
}

body {
    background-color: var(--color-white);

    color: var(--color-black);

    min-height: 100vh;
}

header {
    padding: 5rem 0rem;
}

footer {
    padding: 2rem 0rem;

    @media (width < 1000px) {
        padding: 0;
    }
}

section {
    padding: 7.5rem 0;

    overflow: hidden;

    @media (width < 600px) {
        padding: 5rem 0;
    }
}

a {
    cursor: pointer;

    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;

    width: 100%;
}

article {
    border-top: 6px solid var(--color-black);
}

button {
    cursor: pointer;

    background: none;
}

input {
    height: 2rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

textarea {
    overflow: auto;
}
label {
    display: none;
}
