.trust {
    &__text {
        margin-bottom: 2rem;
    }

    &__statistics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;

        margin-bottom: 2rem;

        @media (width < 550px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }

    &__stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        :nth-child(2) {
            border-right: 0.0625rem solid var(--color-black);
            padding-right: 1rem;

            @media (width < 1100px) {
                border: none;
                padding: none;
            }
        }
    }

    &__number {
        font-size: 2.5rem;
    }

    &__category {
        color: var(--color-light-black);
    }
}
