.empower {
    display: flex;
    flex-direction: column;

    &__text-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 5rem;

        @media (width < 1250px) {
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
        }
    }

    &__title {
        width: 40%;

        @media (width < 1250px) {
            width: 100%;
        }
    }

    &__subtitle {
        @media (width < 1250px) {
            width: 100%;
        }
    }
}
