.header {
    &__title {
        margin-top: 3rem;
    }

    &__subtitle {
        margin-bottom: 2rem;
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        border-radius: var(--border-radius);
        padding: 0.75rem;

        width: fit-content;

        box-shadow: var(--shadow);

        @media (width < 450px) {
            flex-direction: column;
            gap: 0.5rem;

            padding: 1rem;
        }
    }

    &__image-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;

        margin-top: 3rem;

        position: relative;

        overflow: hidden;

        @media (width < 700px) {
            gap: 0.5rem;
        }
    }

    &__image {
        height: 15rem;

        border-radius: var(--border-radius);

        aspect-ratio: 16/9;

        @media (width < 900px) {
            height: 12.5rem;

            &:nth-child(n + 3) {
                display: none;
            }
        }
    }
}
