.header {
    display: grid;
    place-items: center;
    text-align: center;

    overflow: hidden;

    &__title {
        border-radius: var(--border-radius-outer);
    }

    &__subtitle {
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        margin-top: 2rem;

        position: relative;

        max-width: 30rem;

        border-radius: 2rem;
        padding: 0.5rem 1rem;

        box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);

        @media (width < 450px) {
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;

            padding: 1rem;

            width: 100%;
        }
    }

    &__input {
        color: var(--color-black);
        background-color: var(--color-white);
    }

    &__button {
        min-width: fit-content;

        border-radius: var(--border-radius);
        padding: var(--button-padding);

        background-color: var(--color-blue);
        color: var(--color-white);

        @media (width < 450px) {
            width: 100%;
        }
    }

    &__image-wrapper {
        display: flex;
        align-items: center;

        gap: 1.5rem;

        margin-top: 5rem;

        position: relative;

        overflow: hidden;

                @media (width < 400px) {
            display: none;
        }
    }

    &__image {
        width: 20rem;

        border-radius: 0;

        aspect-ratio: 4 / 5;

        @media (width < 1600px) {
            &:nth-child(2) {
                display: none;
            }
        }

        @media (width < 800px) {
            &:nth-child(3) {
                display: none;
            }
        }
    }

    span {
        color: var(--color-blue);
    }

    i {
        position: absolute;

        left: 0rem;
    }
}
