nav {
    padding-top: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

        @media (width < 1000px) {
        padding: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: var(--border-radius);
    padding: 0 2rem;

    box-shadow: var(--shadow);
    background-color: var(--color-white);

    @media (width < 1000px) {
        padding: 0.5rem 2rem;
    }

    &__list {
        display: flex;
        @media (width < 1000px) {
            display: none;
        }
    }

    &__item {
        display: inline-block;

        position: relative;

        &:hover .nav__dropdown {
            display: block;
        }
    }

    &__link {
        display: block;
        text-align: center;

        padding: 1rem 2rem;

        position: relative;

        color: var(--color-black);

        &:hover {
            background-color: var(--color-white-2);
        }
    }

    &__dropdown {
        display: none;

        width: fit-content;

        position: absolute;
        z-index: 300;

        box-shadow: var(--shadow);
        background: var(--color-white);

        &-item {
            display: block;
        }

        &-link {
            display: block;
            box-sizing: content-box;

            padding: 0.5rem 2rem;

            color: var(--color-black);
        }

        &-link:hover {
            background-color: var(--color-white-2);
        }
    }
}
