.partners {
    &__grid {


        //display: grid;
        place-items: center;
        grid-template-columns: repeat(6 ,1fr);
        gap: 5rem;

        display: flex;
    }

    &__image {
        min-width: 7.5rem;
        //max-width: 16rem;
    }
}
