.pricing {
    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2rem;

        @media (width < 650px) {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }

        @media (width < 500px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: var(--border-radius);
        padding: var(--padding-card);

        box-shadow: var(--shadow);
    }

    &__card-title {
        margin-bottom: 0.5rem;
    }

    &__card-fee {
        display: flex;

        margin-bottom: 0.5rem;
    }

    &__card-unit {
        position: relative;
        top: 0.25rem;

        font-size: 1.125rem;
        font-weight: 600;

        color: var(--color-black);
    }

    &__card-amount {
        font-size: 2rem;
        font-weight: 600;

        color: var(--color-black);
    }

    &__card-duration {
        position: relative;
        top: 1.2rem;
        left: 0.125rem;

        font-size: 0.9rem;
    }

    &__card-features-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.35rem;

        margin-bottom: 1.5rem;
    }

    .button {
        width: 100%;
    }
}
