:root {
    --color-white: hsl(0, 0%, 100%);
    --color-white-2: hsl(0, 0%, 85%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-2: hsl(0, 0%, 20%);
    --color-grey: hsl(0, 0%, 16%);
    --color-orange: hsl(39, 100%, 50%);

    --color-light-white: hsl(0, 0%, 80%);
    --color-light-white-2: hsla(0, 0%, 100%, 0.884);
    --color-light-black: hsl(0, 0%, 30%);

    --color-dark-grey: #262626;

    --shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);

    --border: 0.15rem solid var(--color-black);
    --border-radius: 0.5rem;
    --border-radius-icon: 0.5rem;

    --padding-card: 2rem;
    --padding-button: 0.5rem 1rem;
    --padding-icon: 0.5rem;

    --grid-block-gap: 1.5rem;

    --font-size-button: 1rem;
    --font-size-paragraph: 1rem;

    --transition: 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;

    background-color: var(--color-white);

    color: var(--color-black);

    min-height: 100vh;
}

header {
    padding: 5rem 0rem;
}

footer {
    padding: 2rem 0rem;

    background-color: var(--color-cream-secondary);
}

section {
    padding: 7.5rem 0;

    overflow: hidden;

    @media (width < 600px) {
        padding: 5rem 0;
    }
}

a {
    cursor: pointer;

    transition: var(--transition);
}

img {
    display: block;
    object-fit: cover;
    object-position: center;

    width: 100%;
}

article {
    border-radius: var(--border-radius-card);
    padding: var(--card-padding);
}

input {
    height: 2rem;
}

button {
    cursor: pointer;
}

svg {
    width: 1.25rem;
    height: 1.25rem;
}
