.testimonials {
    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;

        @media (width < 500px) {
            grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        border-radius: var(--border-radius);
        padding: var(--padding-card);

        box-shadow: var(--shadow);
    }
    &__card-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: var(--border-radius);
        padding: var(--padding-icon);

        color: var(--color-white);
        background-color: var(--color-black);
    }
    &__card-stars {
        display: flex;
        gap: 0.15rem;

        color: var(--color-orange);
    }
    &__card-middle {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__card-quote {
        font-style: italic;
    }
    &__card-review {
        color: var(--color-light-black);
    }
    &__card-name {
        font-size: 1.25rem;

        color: var(--color-black);
    }
}
