.tracking {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        @media (width < 1400px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__image {
        border-radius: var(--border-radius);

        max-height: 30rem;
    }

    &__feedback-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        padding: var(--padding-card);
    }

    &__feedback-type {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__feedback-results {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: var(--border-radius);

        height: 2.5rem;
        width: 2.5rem;

        font-size: 1.25rem;

        color: var(--color-white);
        background-color: var(--color-black);
    }

    span {
        font-size: 2rem;
    }
}
