body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

h1 {
    font-size: 6rem;
    font-weight: 600;

    color: var(--color-cream);

    @media (width < 1000px) {
        font-size: 4.5rem;
    }

    @media (width < 750px) {
        font-size: 3.5rem;
    }

    @media (width < 550px) {
        font-size: 2.75rem;
    }

    @media (width < 450px) {
        font-size: 2.25rem;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

    color: var(--color-black);

        @media (width < 750px) {
        font-size: 2.25rem;
    }

        @media (width < 300px) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.5rem;

    color: var(--color-black);
}

h4 {
            font-size: 1.25rem;
        font-weight: bold;
}

p {
    color: var(--color-light-black);

            @media (width < 450px) {
            font-size: 0.9rem;
        }
}

span {
    color: var(--color-pink);
}