.container {
    width: 85%;

    margin: 0 auto;
    max-width: 112.5rem;

    position: relative;

    @media (width < 700px) {
        width: 90%;
    }
}

.width-100 {
    @media (width < 1000px) {
        width: 100%;
    }
}

.button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    gap: 1rem;

    width: 100%;

    @media (width < 450px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.button {
    border-radius: var(--border-radius);
    padding: var(--padding-button);

    width: -webkit-fit-content;

    width: -moz-fit-content;

    width: fit-content;

    &--black {
        border: 0.15rem solid transparent;

        color: var(--color-white);
        background-color: var(--color-black);

        &:hover {
            background-color: var(--color-black-2);
        }
    }

    &--white {
        border: var(--border);

        color: var(--color-black);
        background-color: var(--color-white);

        &:hover {
            background-color: var(--color-white-2);
        }
    }

    &--input {
        padding: 0.25rem 1rem;

        @media (width < 450px) {
            width: 100%;
        }
    }

    &--email {
        margin-top: 0.5rem;
    }
}

.text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;

    margin-bottom: 4rem;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 1.25rem;

    color: var(--color-black);

    img {
        height: 3rem;
        width: 3rem;
    }
}

.rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
